.activity-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: '200px'
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date-pick-box {
    margin: '50px'
}

.date-pick-header {
    margin-bottom: 0
}

.activity-types-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    padding: '100px';
    width: '100%';
    font-size: medium;
}

.activity-type {
    text-align: left;
}